.StatusBadge {
  display: inline-block;
  border-radius: 100px;
  padding: 6px 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.StatusBadge--active {
  background: #d1fae5;
  color: #065f46;
}

.StatusBadge--disabled {
  background: #fef3c7;
  color: #92400e;
}
